<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Contact Info Column -->
        <div class="col-md-6 contact-info">
          <h5>Get In Touch</h5>
          <p><i class="fas fa-envelope"></i> nourabuelenin&#64;gmail.com</p>
          <p><i class="fas fa-phone"></i> +123 456 7890</p>
          <p><i class="fas fa-map-marker-alt"></i> Cairo, Egypt</p>
        </div>
  
        <!-- Social Icons Column -->
        <div class="col-md-6 social-icons d-flex flex-column align-items-md-end">
            <a href="https://linkedin.com/in/nour" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/nour" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/nour" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>          
      </div>
  
      <!-- Copyright (Centered) -->
      <div class="text-center copyright">
        <p>© 2025 Nour Abuelenin</p>
      </div>
    </div>
  </footer>
  