<!-- <p>about-me works!</p> -->
<div id="about" class="row text-center">
    <div class="col-lg-6 col-md-6 col-12 mb-4">
        <h3>About Me</h3>
        <img [src]="Me" class="img-fluid" alt="Cover Image">

    </div>
    <div class="col-lg-6 col-md-6 col-12 mb-4 d-flex flex-column align-self-center"> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam ducimus ipsum! Atque ipsum qui obcaecati voluptate incidunt non, voluptates quas laboriosam dolorum ut id sunt debitis, iure quibusdam fuga!</p>
        <a href="/assets/sample.pdf" download class="btn btn-primary">Download PDF</a>
    </div>
</div>