<div id="skills">
    <h3>Skills</h3>

<div class="row align-items-center mb-3">
    <div class="col-2"><strong>JS</strong></div>
    <div class="col-10">
        <div class="progress">
            <div class="progress-bar" style="width: 80%"></div>
        </div>
    </div>
</div>

<div class="row align-items-center mb-3">
    <div class="col-2"><strong>PHP</strong></div>
    <div class="col-10">
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>
</div>

<div class="row align-items-center mb-3">
    <div class="col-2"><strong>MySQL</strong></div>
    <div class="col-10">
        <div class="progress">
            <div class="progress-bar" style="width: 60%"></div>
        </div>
    </div>
</div>

</div>